<div class="movies-header">
  <h1>Movies</h1>

  <%= form_tag movies_path, method: :get, class: "search-form" do %>
    <div>
      <%= label_tag :actor_name, "Search by Actor:" %>
      <%= text_field_tag :actor, params[:actor] %>
      <%= submit_tag "Search" %>
    </div>
  <% end %>
</div>

<p style="color: green"><%= notice %></p>

<div id="movies">
  <% @movies.each do |movie| %>
    <%= render movie %>
  <% end %>
</div>